<ion-header>
    <ion-toolbar color="primary">
        <i style="position: absolute; top: 0; line-height: 3.3rem;" class="icon-back app-icon white" (click)="goBack()"></i>
        <ion-title class="color-white">{{guessCity}}</ion-title>
        <span class="city-change-city" [routerLink]="['/home']">切换城市</span>
    </ion-toolbar>
</ion-header>
<ion-content>
    <form class="city-city-form">
        <div class="city-city-search">
            <input class="city-keyword" type="text" name="keyword" [(ngModel)]="search" placeholder="请输入学校、商务楼、地址"/>
        </div>
        <div class="city-button-submit">
            <button (click)="searchPlace()">提交</button>
        </div>
    </form>
    <header *ngIf="historyTitle" class="pois-search-history">搜索历史</header>
    <ul class="getpois-ul">
        <li *ngFor="let place of placeList" (click)="toMiste(place)">
        <h4 class="pois-name">{{place?.name}}</h4>
        <p class="pois-address">{{place?.address}}</p>
        </li>
    </ul>
    <footer *ngIf="historyTitle && placeList.length" class="clear-all-history" (click)="clearAll()">清空所有</footer>
    <div class="search-none-place" *ngIf="placeNone">很抱歉！无搜索结果</div>
</ion-content>