<ion-header>
  <ion-toolbar>
    <ion-title class="color-white">
      Ionic Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content no-padding>
  <nav class="city-nav">
    <div class="city-nav__tip">
      <span>当前定位城市</span>
      <span>定位不准时，请在城市列表中选择</span>
    </div>
    <a class="guess-city">
      <span>{{guessCity}}</span>
      <i class="icon-nav app-icon" [routerLink]="['/city']" [queryParams]="{'id': guessCityId, 'type': 'guess'}"></i>
    </a>
  </nav>
  <section class="hot_city">
    <h4 class="hot_city__title">热门城市</h4>
    <ul class="hot_city__list clear">
      <li *ngFor="let hotCity of hotCities" [routerLink]="['/city']" [queryParams]="{'id': hotCity.id, type: 'hot'}">
        {{hotCity?.name}}
      </li>
    </ul>
  </section>
  <ul class="group-city">
    <li *ngFor="let group of groupCities">
      <h4 class="group-city__title">{{group?.letter}}<span *ngIf="group.letter === 'A'">（按字母排序）</span></h4>
      <ul class="group-city__list clear">
        <li *ngFor="let city of group.cities" [routerLink]="['/city']" [queryParams]="{'id': city.id, 'type': 'group'}" class="ellipsis">{{city?.name}}</li>
      </ul>
    </li>
  </ul>
</ion-content>
